body {
    background-color: gainsboro;
}

div {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

div .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .header p {
    width: 30%;
}

div .item{
    background-color: gainsboro;
    margin: 3%;
    padding: 20px;
}


img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}